In [1]:
from nba_api.stats.static import teams
from nba_api.stats.endpoints import teamyearbyyearstats

import matplotlib.pyplot
import pandas as pd
import time

In [6]:
nba_teams = teams.get_teams() 

def get_team_stats_by_year(team_id):
    team_stats = teamyearbyyearstats.TeamYearByYearStats(team_id=team_id)
    return team_stats.get_data_frames()[0]
data = pd.DataFrame()
for team in nba_teams:
    team_data = get_team_stats_by_year(team['id'])

    team_data = team_data[team_data['YEAR'] >= '2000']
    data = pd.concat([data, team_data])

In [7]:
data

       TEAM_ID  TEAM_CITY TEAM_NAME     YEAR  ...   TOV  BLK   PTS  PTS_RANK
51  1610612737    Atlanta     Hawks  2000-01  ...  1368  387  7459        26
52  1610612737    Atlanta     Hawks  2001-02  ...  1275  350  7711        19
53  1610612737    Atlanta     Hawks  2002-03  ...  1367  473  7714        18
54  1610612737    Atlanta     Hawks  2003-04  ...  1350  408  7611        15
55  1610612737    Atlanta     Hawks  2004-05  ...  1319  344  7605        28
..         ...        ...       ...      ...  ...   ...  ...   ...       ...
29  1610612766  Charlotte   Hornets  2019-20  ...   949  268  6687        30
30  1610612766  Charlotte   Hornets  2020-21  ...  1069  344  7881        23
31  1610612766  Charlotte   Hornets  2021-22  ...  1087  402  9457         4
32  1610612766  Charlotte   Hornets  2022-23  ...  1164  425  9098        27
33  1610612766  Charlotte   Hornets  2023-24  ...  1129  371  8740        28

[716 rows x 34 columns]

600